{% include 'top.html.twig' %}

<img src="{{ profile.getPicture }}" height="100" width="100">

<p>{{ profile.getFirstName }}</p>
{{ profile.getLastName }}
{{ profile.getBio }}
{{ profile.getDate }}

{% include 'creategroup.html.twig' %}

<form action="/group" method="post">
  <button type="button">Group</button>
</form>


{% include 'bottom.html.twig' %}
