{% include 'top.html.twig' %}

<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo center">everydone</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/group/{{ user_id }}">My Groups</a></li>
        <li><a href="#">My Tasks</a></li>
        <li><a href="/profile/{{ user_id }}">My Profile</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="side-notifications">
  <ul class="collapsible" data-collapsible="accordion">

    {% for group in groups %}
      {% set tasks = group.getTaskFromGroup %}
    <li>
      <div class="collapsible-header"><span class="new badge">
      1</span><i class="material-icons"></i>{{ group.getGroupName }}</div>
      <div class="collapsible-body">
        {% for task in tasks %}
        <p>{{task.getName}}</p></br>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


  <img src="{{ profile.getPicture }}" height="100" width="100">

  <p>{{ profile.getFirstName }}</p>
  {{ profile.getLastName }}
  {{ profile.getBio }}
  {{ profile.getDate }}


  {% include 'creategroup.html.twig' %}

{% if groups is not empty %}
  {% for group in groups %}
    <li><a href="/groupinfo/{{ group.getId }}/{{ user_id }}">{{ group.getGroupName }}</a></li>
  {% endfor %}
{% endif %}



</div>

{% include 'bottom.html.twig' %}
