{% include 'top.html.twig' %}
<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo center">everydone</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">My Groups</a></li>
        <li><a href="#">My Tasks</a></li>
        <li><a href="/homepage">My Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
{% if profiles is not empty %}
{% for profile in profiles %}
<img src="{{ profile.getPicture }}" height="100" width="100">
<ul>
  <li><a href="/viewprofile/{{ profile.getId }}">{{ profile.getFirstName }} {{ profile.getLastName }}</a></li>
</ul>
{% endfor %}
{% endif %}

{% if msg is not empty %}
{{ msg }}
{% endif %}
{% include 'bottom.html.twig' %}
