{% include 'top.html.twig' %}

<div class = "container">
  <div class = "row">
    {% if assigned_user is not empty %}
    <div class = "col m12 section">
      <h4>Task {{ task.getName }} assigned to {{ assigned_user }}</h4>
      <p>Description: {{ task.getDescription }}</p>
      <p>Assign Time: {{ task.getAssignTime }}</p>
      <p>Due Time: {{ task.getDueTime }}</p>
    </div>
    {% else %}
    <div class = "col m12 section">
      <h4>Task: {{ task.getName }}</h4>
      <p>Description: {{ task.getDescription }}</p>
      <p>Assign Time: {{ task.getAssignTime }}</p>
      <p>Due Time: {{ task.getDueTime }}</p>
      {% endif %}
    </div>
  </div>
</div>

{% include 'sidenav.html.twig' %}

{% include 'bottom.html.twig' %}
