{% include 'top.html.twig' %}

{% if friends == false %}
<form action="/sendFriendRequest" method="post">
  <input type="hidden" name="sender_id" value="{{ id }}">
  <input type="hidden" name="receiver_id" value="{{ user_id }}">
  <button type="submit">Add Associate</button>
</form>
{% endif %}

<div class="side-notifications">
  <ul class="collapsible" data-collapsible="accordion">

    {% for group in groups %}
      {% set tasks = group.getTaskFromGroup %}
    <li>
      <div class="collapsible-header"><span class="badge">
      {{ tasks|length }}</span><i class="material-icons"></i><a href="/groupinfo/{{ group.getId }}/{{ user_id }}">{{ group.getGroupName }}</a></div>
      <div class="collapsible-body">
        {% for task in tasks %}
        <p>{{task.getName}}</p></br>
        {% endfor %}
      </div>
    </li>
    {% endfor %}


  </ul>
</div>


  <img src="{{ profile.getPicture }}" height="100" width="100">

  <p>{{ profile.getFirstName }} {{ profile.getLastName }}</p>
  <p>Member since: {{ profile.getDate }}</p>
  <p>About {{ profile.getFirstName }}: {{ profile.getBio }}</p>
{% include 'sidenav.html.twig' %}
{% include 'bottom.html.twig' %}
